<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/6122561.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
    <body>

      <div class="main-content">

       {{>header}}
      <img class="portrait"src="./img/Pet Photography - Lauren Friedman Photos.jpg" />
      </div>
      {{>footer}}
    </body>
  
</html>