<html>
  <head>
    <title>404</title>
    <link rel="icon" href="/img/6122561.png"/>
    <link rel="stylesheet" href="/css/styles.css" />

    <body>
      <div class="main-content">
     {{>header}}
       <p>{{errorMessage}}</p>
       </div>
      {{>footer}}
    </body>
  </head>
</html>